<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DevExpress Nuget server" value="https://nuget.devexpress.com/XYYE7lQyrYAuldZeSbFCIBfCbczdiPmhEDEg3V19I4YkhdB8BS/api" />
    <add key="FeedBrApiClients" value="https://scv.cimmyt.org/tfs/ResearchSystemCollection/_packaging/FeedBrApiClients/nuget/v3/index.json" />
  </packageSources>
 
</configuration>