@{
    ViewBag.ViewTitle = "| " + ViewData["moduleId"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Inventory Numbers:
        @Html.DevExpress().Memo(settings =>
        {
            settings.Name = "Memo";
        }).GetHtml()

        Box:

        @Html.DevExpress().TextBox(settings =>
        {
            settings.Name = "TextBox";
        }).GetHtml()


    </div>
</body>
</html>