@model System.Collections.IEnumerable

@{
    ViewBag.ViewTitle = "| " + ViewData["moduleId"];
}

@section scriptsHeader {
    <script type="text/javascript">

        function OnKeyDown(s, e) {
            if (e.htmlEvent.keyCode == 13) {
                ASPxClientUtils.PreventEventAndBubble(e.htmlEvent);
                GridView.AddNewRow();
            }
        }

        function StartBox(s, e) {
            if (e.htmlEvent.keyCode == 13) {
                OnKeyDown(s, e);
            }
        }
        function ClickAddNewItem(s, e) {
            $.ajax({
                url: '@Url.Action("GridViewPartial")',
                type: 'POST',
                data: { Parameter: newBox.GetText() },
            });
            var rows = GridView.batchEditHelper.GetEditState().insertedRowValues;
            // length:
            var count = Object.keys(rows).length;
            //alert(count);
            // keys:
            for (var key in rows) {
                //alert(key);
            }
            var entry = "00" + count;
            //alert(entry.substring(entry.length - 3));

            setTimeout(function () {
                GridView.batchEditApi.SetCellValue(key, 'EntryId', entry.substring(entry.length - 3));
                GridView.batchEditApi.StartEdit(GridView.batchEditApi.GetInsertedRowIndices()[count], GridView.GetColumnByField("InventoryNumber").index);
            }, 100);
        }
    </script>
}

<div class="row">
    <div class="hpanel">
        <div class="panel-heading hbuilt">
            New Box
        </div>

        <div class="panel-body text-center h-200">
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "newBox";
                settings.Properties.Caption = "Box";
                settings.Properties.NullText = "CAR-SEC-BOX";
                //settings.Properties.DisplayFormatString = "[ 00 - 00 - 00 ]";
                settings.Properties.ClientSideEvents.SetEventHandler("KeyDown", "StartBox");
                settings.Properties.ClientSideEvents.Init = "function (s,e) {s.Focus()}";
            }).GetHtml()

            @Html.Partial("_GridViewPartial", Model)
        </div>
    </div>
</div>
