<!--######################## views/Order  ###########-->
@model System.Data.DataTable

@{
    ViewBag.ViewTitle = "| " + ViewData["moduleId"];
}


@section scriptsHeader {

    <script type="text/javascript">

    </script>
}

@Html.Partial("_SearchFields")

@if (ViewData["viewName"] != null)
{
    Html.RenderPartial("_HeaderGridView");
}
<div class="row">
    <div class="col-lg-12">
            @if (ViewData["viewName"] != null)
            {
                Html.RenderPartial("_GridViewSearch", Model, new ViewDataDictionary { { "viewName", ViewData["viewName"] }, { "value", ViewData["value"] }, { "server", ViewData["server"] }, { "moduleId", ViewData["moduleId"] }, { "formId", ViewData["formId"] } });
            }
    </div>
</div>

@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "PopupControl";
    settings.CloseAction = CloseAction.OuterMouseClick;
    settings.PopupVerticalAlign = PopupVerticalAlign.Middle;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.ShowFooter = false;
    settings.AllowDragging = true;
    settings.HeaderText = "Germplasm detail";
    settings.Modal = false;
    settings.ClientSideEvents.PopUp = "function(s, e) { s.SetWidth(document.documentElement.clientWidth-20); s.SetHeight(document.documentElement.clientHeight-20); s.UpdatePosition(); }";
}).GetHtml()
