@model System.Data.DataTable

@{
    ViewBag.ViewTitle = "| " + ViewData["moduleId"];
}

@section scriptsHeader {
    <script type="text/javascript">
        var COLUMN_INVENTORY_NUMBER = "inventory_number"; 
        var COLUMN_CAR = "storage_location_part1";
        var COLUMN_SEC = "storage_location_part2";
        var COLUMN_BOX = "storage_location_part3";
        var COLUMN_PAQ = "storage_location_part4";

        function NewItem(s, e) {
            if (e.htmlEvent.keyCode == 13) {
                ASPxClientUtils.PreventEventAndBubble(e.htmlEvent);
                gvSearch.AddNewRow();
            }
        }

        function reorderItem(s, e) {
            var rows = gvSearch.GetVisibleRowsOnPage();
            for (var i = 0; i < rows; i++) {
                var entry = "00" + (i+1);
                gvSearch.batchEditApi.SetCellValue(i, COLUMN_PAQ, entry.substring(entry.length - 3));
            }
        }

        function OnGetRowValues(values) {
            return values;
        }

        function EndSave(s, e) {
            var rows = gvSearch.GetVisibleRowsOnPage();
            SetTotal(rows);
            if (s.cpMessageError) {
                $("#pModalError").text(s.cpMessageError);
                $("#resutlModal").modal({
                    show: true
                });
            }
        }

        function AddNewItem(s, e) {
            var rows = gvSearch.GetVisibleRowsOnPage();
            SetTotal(rows);
            var rowInsertNew = gvSearch.batchEditHelper.GetEditState().insertedRowValues;
            var count = Object.keys(rowInsertNew).length;
            var entry = "00" + (rows);
            for (var key in rowInsertNew) {
            }
            setTimeout(function () {
                gvSearch.batchEditApi.SetCellValue(key, COLUMN_PAQ, entry.substring(entry.length - 3));
                gvSearch.batchEditApi.StartEdit(gvSearch.batchEditApi.GetInsertedRowIndices()[count], gvSearch.GetColumnByField(COLUMN_INVENTORY_NUMBER).index);
                }, 100
            );
        }

        function SetTotal(num_rows) {
            $("#spanCount").text(num_rows);
        }
    </script>
}

@Html.Partial("_SearchFields")

<div id="result">

</div>
@if (ViewData["viewName"] != null)
{
    Html.RenderPartial("_HeaderGridView");
}

  <!-- Modal -->
<div class="modal fade" id="resutlModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Gb Zone information</h4>
            </div>
            <div class="modal-body">
                <p id="pModalError"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>