@model System.Data.DataTable

@{
    ViewBag.ViewTitle = "| " + ViewData["moduleId"];
}

@section scriptsHeader {
    <script type="text/javascript">
        //var columnAutoIncremnet = @ViewData["columnAutoIncrement"];
        function NewItem(s, e) {
            if (e.htmlEvent.keyCode == 13) {
                ASPxClientUtils.PreventEventAndBubble(e.htmlEvent);
                gvSearch.AddNewRow();
            }
        }
        function reorderItem(s, e) {
            var rows = gvSearch.GetVisibleRowsOnPage();
            for (var i = 0; i < rows; i++) {
                var entry = "00" + (i+1);
                gvSearch.batchEditApi.SetCellValue(i, 'storage_location_part4', entry.substring(entry.length - 3));
            }
        }
        function OnGetRowValues(values) {
            return values;
        }
        function EndSave(s, e) {
            var rows = gvSearch.GetVisibleRowsOnPage();
            $("#spanCount").text(rows);
        }
        function AddNewItem(s, e) {
            var rows = gvSearch.GetVisibleRowsOnPage();
            var rowInsertNew = gvSearch.batchEditHelper.GetEditState().insertedRowValues;
            var count = Object.keys(rowInsertNew).length;
            var entry = "00" + (rows);
            for (var key in rowInsertNew) {
            }
            setTimeout(function () {
                    gvSearch.batchEditApi.SetCellValue(key, 'storage_location_part4', entry.substring(entry.length - 3));
                    gvSearch.batchEditApi.StartEdit(gvSearch.batchEditApi.GetInsertedRowIndices()[count], gvSearch.GetColumnByField("inventory_number").index);
                }, 100
            );
        }
    </script>
}

@Html.Partial("_SearchFields")

<div id="result">

</div>
@if (ViewData["viewName"] != null)
{
    Html.RenderPartial("_HeaderGridView");
}